html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #e5e5e5;
  min-height: 100%;
}
header {
  background-color: #1f2ce9;
  color: white;
  padding: 5rem 0;
}
h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
}
h4 {
  text-align: center;
}
input.btn.btn-block.btn-primary {
  background: #696a81;
  border: unset;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background: #000;
  border: #000;
}
